@import url("root.css");

body {
  background: var(----colors_background);

  font-family: "Consolas";
  font-weight: 100;
  color: #fff;
}

.text_primary {
  color: var(----colors_primary);
}
