@import url("root.css");
@import url("div.css");

body {
  background: var(----colors_background);

  font-family: "Consolas";
  font-weight: 100;
  color: #fff;

  padding: 0;
  margin: 0;
}

div {
  background: var(----colors_background2);
}

.text_primary {
  color: var(----colors_primary);
}

.empty {
  background: transparent;
  border: none;
  color: transparent;
}

.logo {
  transition: all var(--tt) ease-in-out;

  user-select: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.icon {
  width: 5vw;
  height: 5vw;
}
